{% extends 'base.html' %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
   <div class="container">
       <div class="card text-center">
          <div class="card-header">
            Опрос
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ poll.question }}</h5>
          </div>
       </div>
   </div>
    <div class="container">
   <div class="card">
          <div class="card-header text-center">
            Варианты ответа к опросу:
          </div>
           <form method="post">{% csrf_token %}
                  <div class="card">
                  {% if choices.count == 0%}
                  <h1 class="text-center">На данный опрос еще нет вариантов ответа</h1>
                  {% else %}
                    <ul class="list-group list-group-flush">
                      {% for choice in choices  %}
                          <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="{{ choice.text }}" name="selected_choice" value="{{ choice.id }}">
                          <label class="custom-control-label" for="{{ choice.text }}"> {{ choice.text }}</label>
                        </div>
                      {% endfor %}
                    </ul>
                  <input type="submit" class="btn-primary" value="Подтвердить" />
                  {% endif %}
                  </div>
           </form>
        </div>
    </div>

{% endblock %}