{% extends 'base.html' %}
{% block content %}
    <h1 class="bg-info text-white text-center">Опросы:</h1>
    {% csrf_token %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="card-deck text-center">
            {% for poll in object_list %}
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ poll.question }}</h5>
                        <h5 class="card-title"> {{ poll.created_at }}</h5>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">
                      <a href="{% url 'poll_answer' poll.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-question"></span> </a>
                      <a href="{% url 'poll_view' poll.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-info"></span></a>
                      <a href="{% url 'polls_edit' poll.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-edit"></span></a>
                      <a href="{% url 'poll_delete' poll.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-trash"></span></a>
                      </small>
                    </div>
                  </div>
            {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
<a href="{% url 'poll_new' %}" class="button2" tabindex="0">+</a>
{% endblock %}