{% extends 'base.html' %}
{% block title %}{{ object.name }}{% endblock %}
{% block menu %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Действия
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'polls_edit' object.pk%} ">Редактирование</a>
            <a class="dropdown-item" href="{% url 'poll_delete' object.pk%} ">Удаление</a>
        </div>
      </li>
{% endblock %}
{% block content %}
   <div class="container">
       <div class="card text-center">
          <div class="card-header">
            Опрос
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ object.question }}</h5>
          </div>
       </div>
   </div>
    <div class="container text-center">
        <a href="{% url 'choices_new' object.pk %}"class="btn btn-info">Добавить новый вариант ответа></a>
        <a href="{% url 'poll_answer' object.pk %}"class="btn btn-info">Ответить на опрос></a>
    </div>
    <div class="container">
   <div class="card text-center">
          <div class="card-header">
            Варианты ответа к опросу:
          </div>
          <div class="card">
            <ul class="list-group list-group-flush">
              {% for choice in object.choices.get_queryset  %}
                  <li class="list-group-item">
                      <div class="pre">{{ choice.text}}</div>
                  <a href="{% url 'choices_edit' choice.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-edit"></span></a>
                  <a href="{% url 'choices_delete' choice.pk %}" class="btn btn-info" style="width: 40px"><span class="fa fa-trash"></span></a>
                  </li>
              {% endfor %}
            </ul>
          </div>
        </div>
    </div>

{% endblock %}