{% extends 'base.html' %}
{% block title %}{{ object.name }}{% endblock %}
{% block menu %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Действия
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'polls_edit' object.pk%} ">Редактирование</a>
            <a class="dropdown-item" href="{% url 'poll_delete' object.pk%} ">Удаление</a>
        </div>
      </li>
{% endblock %}
{% block content %}
   <div class="container">
       <div class="card text-center">
          <div class="card-header">
            Опрос
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ object.question }}</h5>
          </div>
        </div>
{% endblock %}